body {
  font-family: sans-serif;
  color: black;
  background: white;
  margin-left : 0;
  margin-top : 0;
}
th, td { /* ns 4 */
  font-family: sans-serif;
}
a {font: bold; color:Navy;} 
h1 { text-align: center }
h2, h3, h4, h5, h6 { text-align: left }
h1, h2, h3 { color: #005A9C; }
h1 { font: bold 100% }
h2 { margin:1em; font: bold 95% }
h3 { font: 90%  }
h4 { font: bold 85% }
h5 { font: italic 85%  }
h6 { text-align: right }
ul,p { font: 80%;}
p { text-align:justify; margin:1em;}
.p-liens {text-align:right;}
TH {background :  Navy; color :  White;}
TD {}
.td-bord {background :  Navy; color :  White;}
.small {font:70%; }
.h2-sans-marge {margin:0; text-align:center;}